section{
  padding: 25px 0;
  min-height: 300px;
}
.cards{
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 80px;



  @media (max-width: 1180px) {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
}

.loader{
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
