<section>
  <div class='wrapper'>
    <div class='column' *ngFor='let item of date'>
      <h2>{{item.title}}</h2>
      <ul>
        <li *ngFor='let i of item.items'>
          <a [routerLink]='i.id'>{{i.name}}</a>
        </li>
      </ul>
    </div>
    <div class='logo'>
      <h1>MARA</h1>
      <h2>candle shop and for candles</h2>
      <div class='logo__social'>
        <a href='https://web.facebook.com/profile.php?id=100088230111730' target='_blank' class='facebook'></a>
        <a href='https://www.instagram.com/mara.candles.ge' target='_blank' class='instagram'></a>
        <a href='https://t.me/iryna_sukhotskaya' target='_blank' class='telegram'></a>
      </div>
      <a class='logo__phone' href='tel:+995591517055' target='_blank'>+995 591 517 055</a>
    </div>

  </div>
</section>


