.contact{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;

  @media (max-width: 1180px) {
    grid-template-columns: 1fr
  }

  .maps{
    @media (max-width: 1180px) {
      height: 400px;
      width: 100%;
    }
  }

  h1{
    margin-top: 0;
  }
}
