::ng-deep body {
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: 300;
}

.sidenav-container {
  flex: 1;

  .sidenav {
    min-width: 240px;

    a {
      display: block;
      padding: 6px 24px;
      width: 100%;
      text-align: left;
    }
  }

  main {
    padding: 18px 24px;
  }
}

mat-sidenav-container{
  height: 100vh;
}


ul{
  list-style-type: none;
  padding: 0;
  li{
    a {
      text-decoration: none;
    }
  }
}
