section{
  padding: 50px 0;
}

.category{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 39px;
  color: white;

  &-image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  }

  & div {
    transition: all 0.5s ease-in-out;
    &:hover{
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    overflow: hidden;
  }


  @media (max-width: 1180px) {
    grid-template-columns: 1fr;
  }


  & a {

    & div:hover {
      transform: scale(1.2);
    }
  }


  & a div {
    height: 385px;
    position: relative;
    transition: all 10s;
    font-size: 30px;
    font-weight: bold;
    color: white;

    @media screen and (max-width: 1180px) {
      width: 100%;
    }
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-45px);
  }
}
