<section>
  <div class='delivery'>
    <h1>Доставка и Оплата</h1>
    <p class='description'>наша дружелюбная команда заботиться о каждом своем клиенте, поэтому мы найдем удобный для вас способ доставки и оплаты   </p>
    <div class='block'>
      <div>
        <h2>Доставка</h2>
        <p>Вы можете забрать заказанный вами товар самостоятельно от ст. м. Исани в заранее согласованное с вами время.  </p>
        <p>Вы можете заказать доставку до метро стоимость 10 лар.</p>
        <p>Tак же доставка заказа возможна  ЯНДЕКС ДОСТАВКОЙ. в таком случае предоплата затовар 100%. Оплата за доставку (согласна тарифам такси).
          При заказе на сумму от 350 лар, доставка ЯНДЕКС ДОСТАВКОЙ оплачиваем мы. </p>
        <p>При необходимости доставки товара в другой город, условия и удобные для вас варианты, обсуждаются индивидуально. </p>

        <h2>Оплата</h2>
        <p>Вы можете оплатить товар карточкой любого банка путем перечисления выставленной суммы на счет.</p>
        <p>Также вы можете оплатить заказ наличными денежными средствами при получении товара.</p>
        <p>Оплата онлайн временно недоступна. Мы работаем над исправлением данной ошибки. </p>
      </div>
      <div><img src='/assets/images/delivery/1.png'/></div>
    </div>

  </div>
</section>
