<section>
  <div class='wrapper'>
    <h3 id='about-us'>о нас </h3>
    <h4>MARA</h4>
    <p>Мы создаем не просто свечи, мы создаем настроение!</p>
    <p>Все свечи, представленные в нашем магазине, не содержат парафин, свинец, бензол и иных небезопасных веществ.
      Только натуральные ингредиенты, безопасные для всей семьи. Мы создаем не просто свечи, мы создаем настроение!
    </p>
    <p>Все свечи, представленные в нашем магазине, не содержат парафин, свинец, бензол и иных небезопасных веществ.
      Только натуральные ингредиенты, безопасные для всей семьи.</p>
  </div>
</section>


